* {
    margin: 0;
    outline: none;
}

body {
    box-sizing: border-box;
    background-color: #ffffff;
}

.header-box {
    background-color: #dad2e2;
    box-sizing: border-box;
    height: 300px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

h1 {
    color: #0e213a;
    font-family: 'Quattrocento', serif;
    font-size:3em;
    margin-bottom: 30px;
    margin-top: 2rem;
    text-align: center;
}

input {
    align-items: center;
    display: flex;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 1rem;
    justify-content: space-between;
    margin: auto;
    outline: none;
    width: 45%;
    border: none;
}

.header-text-highlight {
    color: #ffffff;
}

.user-title-input {
    background-color:    #ffffff;
    font-size: 1rem;
    height: 30px;
    width: 45%;
}

.user-title-input:hover, .user-body-input:hover {
    background-color:   #f7eeff;
}

.user-title-input:focus, .user-body-input:focus {
    border: 3px solid #0e213a;
}

.user-body-input {
    font-family: 'Quattrocento Sans', sans-serif;
    background-color: #ffffff;
    display: block;
    height: 30px;
    margin: 1.5rem auto 1.5rem;
    outline: none;
    font-size: 1rem;
    border: none;
    resize: none;
    width: 45%;
}

.user-search-input {
    border: 3px solid #0e213a;
    height: 30px;
    margin-top: 4rem;
}

.save-btn {
    display: block;
    background-color: #0e213a;
    color: #fff;
    font-family: 'Quattrocento Sans', sans-serif;;
    font-size: 1rem;
    height: 30px;
    margin: 0 auto; 
    width: 45%;   
    transition: transform 0.2s ease-out;
}

.save-btn:disabled {
   background-color: #86888A;
}

.save-btn:hover:enabled {
    transform: scale(1.2);
}

.bottom-box {
    margin-top: 25rem;
}

.card-container {
    margin: auto;
    position: relative;
    width: 45%;
}

.title-of-card {
    color: #6D6E71;
    display: inline-block;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1em;
}

h2 {
    margin-top: 1rem;
    color: #6d6e71; 
    display: inline-block;
    font-size: 2rem;
}

p {
    color: #939598;
    font-family: 'Quattrocento Sans', sans-serif;
}

.body-of-card {
    color: #939598;
    font-family: 'Quattrocento', serif;
    font-size: 100%;
    margin-bottom: 1rem;
}

button {
    background-color: transparent;
    background-size: cover;
    border: none;
    height: 20px;
    width: 20px;
}

.delete-button {
    background-image: url(./images/delete.svg);
    margin-bottom: 1em;
    position: absolute;
    right: 10px;
    top: 15px;
}

.delete-button:hover {
    background-image: url(./images/delete-hover.svg);
}

.upvote {
    background-image: url(./images/upvote.svg);
    margin-right: 5px; 
}

.upvote:hover {
    background-color: transparent;
    background-image: url(./images/upvote-hover.svg);
}

.downvote {
    background-image: url(./images/downvote.svg);
    margin-right: 5px; 
}

.downvote:hover {
    background-image: url(./images/downvote-hover.svg);
}

.quality {
    margin: 1em 0 
}


@media only screen and (max-width: 640px){

    .header-box {
        height: 350px
    }
    
    .user-body-input, .user-title-input, .save-btn {
        width: 80%;
    }
    
    .user-body-input{
        height: 5em;
    }
    
    .card-container {
        width: 80%;
    }
    
    .user-search-input {
        border: solid #999 1px;
        width: 80%;
    }
    
    .bottom-box {
        margin-top: 30rem;
    }

}